## C++ gitignore template from: https://github.com/github/gitignore/blob/4488915eec0b3a45b5c63ead28f286819c0917de/C%2B%2B.gitignore
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CLion project folders
.idea
cmake-build-*

# VsCode project folder
.vscode
